# configuration for authorized and required reviewers
* @DANS-KNAW/core-systems-leads

# code
# no overrides

# policies
/.github/PULL_REQUEST_TEMPLATE.md @DANS-KNAW/core-systems-leads
/.github/CODEOWNERS @DANS-KNAW/core-systems-leads
